/************
*日期：2020-06-30
*作者：朱公子
*用途：产品详情页的css
*other:无
*version:1.0
*/
.productWrap{
    width: 1313px;height: 600px;margin: 20px auto;
}
/*左边容器*/
.productImageWrap{
    width: 496px;height: 600px;;
}
.productImg{
    width: 495px;height: 495px;
    border: 1px solid #ddd;
    position: relative;
}
.productImg img.goodsImg{width: 495px;height: 495px;}
.productImg i.icons{
    display: block;width: 33px;height: 33px;position: absolute;
    bottom: 0;right: 0;
    background: url("../../image/icons/icons.png") no-repeat 0 --134px;
    z-index: 5;
}
/*遮罩*/
.maskDiv{
    width: 150px;height: 150px;
    position: absolute;top: 30%;left: 30%;
    position: absolute;top: 30%;left: 30%;
    background: #E3921E;
    border: 1px solid #A25A1A;
    opacity: 0.7;cursor: move;
}
/*局部大图*/
.localImgDiv{
    width: 495px;height: 495px;position: absolute;
    top: 0;right: -495px;background: #fff;
    overflow: hidden;
}
.localImgDiv img{
    width: 1500px;height: 1500px;position: absolute;
    top: -100px;left: -100px;
}

/*小图列表*/
.goodList{
    width: 495px;height: 80px;overflow: hidden;
    position: relative;
}
.goodList label,.goodList span{
    width: 26px;height: 43px;display: block;position: absolute;
    top: 24px;cursor: pointer;
    background: url("../../image/icons/icons.png") no-repeat;
}
.goodList label{left: 0;background-position: 0 -184px;}
.goodList span{right: 0;background-position: 0 -246px;}

.goodList ul{width: 460px;position: absolute;top: 14px;left: 28px;}
.goodList ul li{
    width: 47px;height: 47px;float: left;margin-right: 14px;
    border: 2px solid #fff;
}
.goodList ul li img{width: 47px;height: 47px;}
.goodList ul li:hover{
    border: 2px solid #f00;
}

/*右边容器*/
.productInfo{
    width: 800px;
}

/*产品title*/
.goodsTitle{
    width: 100%;height: 100px;
}
.goodsTitle h1{
    font-size: 22px;
}
.goodsTitle li{font-size: 14px;color: #f00;}
/*加入购物车*/
.gotoShopWrap{
    margin: 21px 0 0 48px;float: left;clear: both;
}
.goodsNum input.input_a,
.goodsNum input.input_b,
.goodsNum input.input_c{
    position: absolute;
}
.goodsNum input.input_a{
    width: 37px;height: 48px;left: 0;top: 0;font-size: 22px;
    text-align: center;line-height: 48px;color: #666;
    border: 0;
    border-right: 1px solid #ddd;
}
.goodsNum input.input_b,
.goodsNum input.input_c{
    width: 16px;height: 25px;background: #F1F1F1;
    font-size: 16px;text-align: center;line-height: 25px;
    right: 0;border: 0;border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.goodsNum input.input_b:hover,
.goodsNum input.input_c:hover{
    background: #ddd;
}
.goodsNum input.input_a{top: 0;}
.goodsNum input.input_b{bottom: -1px;}
.gotoCarBtn{
    width: 157px;height: 50px;background: #f00;color: #fff;
    font-size: 22px;text-align: center;line-height: 50px;
    float: left;cursor: pointer;
}
/*配送地址*/
.addressWrap{
    width: 470px;clear: both;
}
.addressTitle{
    height: 24px;padding: 0 5px;line-height: 24px;
    font-size: 12px;color: #666;
    float: left;clear: both;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    position: relative;z-index: 4;
}
.addressTitle i{
    width: 16px;height: 8px;
    background: url("../../image/icons/icons.png") no-repeat 0 -315px;
    float: right;margin: 7px 0 0 3px;
}
.addressList{
    width: 374px;padding: 35px 11px;
    float: left;clear: both;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: -1px;
}
.addressTabBtn{
    width: 100%;clear: both;
    border-bottom: 2px solid #EDD28B;
}
.addressTabBtn li{
    float: left;height: 24px;padding: 0 11px;line-height: 24px;
    font-size: 12px;color: #005AA0;margin-right: 9px;
    border: 1px solid #ccc;cursor: pointer;
    margin-bottom: -2px;background: #fff;
}
.addressTabBtn li.yellowLi{
    border:2px solid #EDD28B;border-bottom: 0;
}
.addressName{
    width: 100%;margin-top: 14px;
}
.addressName li{
    width: 70px;height: 24px;line-height: 24px;text-align: left;
    font-size: 12px;float: left;margin-right: 13px;color: #666;
    cursor: pointer;padding-left: 5px;overflow: hidden;
}
.addressName li:hover{
    background: #ddd;border-radius: 5px;
}
